<div ng-controller="MainController as main">
    <div class="row">

        <div class="col-md-9">
            <form class="form-inline" ng-submit="subscribe(username)">
                <br>
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="username" placeholder="Username" required>
                </div>
                <button type="submit" class="btn btn-default">Ingresar</button>
            </form>
        </div>
    </div>
    <br>
    <br>
    <div class="row" ng-if="subscribed">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Users </div>
                <table class="table table-striped table-condensed">
                    <tr ng-repeat="user in users">
                        <td>{{user.username}}</td>
                        <td>
                            <button type="button" class="btn btn-info" ng-click="privateMsg(user)">Mensaje privado</button>
                        </td>
                    </tr>
                </table>
            </div>
            <button type="button" class="btn btn-danger" ng-click="leaveChat()">Salir</button>
        </div>
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">Principal</div>
                <table class="table table-striped table-condensed">
                    <tr ng-repeat="msg in msgs | orderBy:'-date' | limitTo: 15">
                        <td>{{msg.user}}</td>
                        <td>{{msg.date | date:'dd-MM-yyyy HH:mm'}}</td>
                        <td ng-if="msg.tipo===1 || msg.tipo===3"><i>{{msg.msg}}</i>
                        </td>
                        <td ng-if="msg.tipo!=1 && msg.tipo!=3">{{msg.msg}}</td>
                    </tr>
                </table>
                <div class="panel-footer">
                    <form class="form-inline" ng-submit="generalMsg(msgGral)">
                        <div class="form-group">
                            <label for="msgGeneralTxt">Mensaje</label>
                            <input type="text" class="form-control" id="msgGeneralTxt" ng-model="msgGral" required>
                        </div>
                        <button type="submit" class="btn btn-default">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
